<!DOCTYPE html>
<html>

<head>
    <title>Hỏi Dân IT vs Eric</title>
    <meta charset="UTF-8">
</head>


<body
    style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">
    <table style="max-width: 80rem; min-height: 100vh; padding: 2rem; margin: 0 auto; background-color: #f5f5f5;">
        <tr>
            <td align="center">
                <table style="background-color: white; border-radius: 5px; padding: 20px;">
                    <tr>
                        <td>
                            <div style="text-align: left; font-size: 20px;">HaiLT</div>
                        </td>
                        <td>
                            <div style="text-align: right; font-size: 20px;">Ít nhưng mà chất</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="margin: 15px 0; border-top: 1px solid rgba(5, 5, 5, 0.06);"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="text-align: left;">
                                <div style="font-size: 16px;">Hi {{ author }},</div>
                                <div style="font-size: 16px;">One of these jobs may be your next one. Find out today!
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="margin: 15px 0; border-top: 1px dashed rgba(5, 5, 5, 0.06);"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td>
                                        <div style="font-size: 16px;">
                                            <a href="#" target="_blank"
                                                style="text-decoration: none;">Web Developer
                                                (PHP, JavaScript)</a>
                                        </div>
                                        <div style="font-size: 14px;">VINAKET CO.LTD</div>
                                        <div style="font-size: 14px;">1,000 - 2,500 USD</div>
                                        <div>
                                            <span style="font-size: 14px;">PHP</span>
                                            <span style="font-size: 14px;">JavaScript</span>
                                            <span style="font-size: 14px;">English</span>
                                        </div>
                                        <div style="margin: 15px 0; border-top: 1px dashed rgba(5, 5, 5, 0.06);"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="font-size: 16px;">
                                            <a href="#" target="_blank"
                                                style="text-decoration: none;">Web Developer
                                                (PHP, JavaScript)</a>
                                        </div>
                                        <div style="font-size: 14px;">VINAKET CO.LTD</div>
                                        <div style="font-size: 14px;">1,000 - 2,500 USD</div>
                                        <div>
                                            <span style="font-size: 14px;">PHP</span>
                                            <span style="font-size: 14px;">JavaScript</span>
                                            <span style="font-size: 14px;">English</span>
                                        </div>
                                        <div style="margin: 15px 0; border-top: 1px dashed rgba(5, 5, 5, 0.06);"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <a href="#" target="_blank"
                                style="display: inline-block; width: 100%; height: 40px; line-height: 40px; cursor: pointer; border-radius: 5px; background-color: #ea1e30; color: white; border: none; outline: none; text-decoration: none; font-size: 16px;">
                                Xem thêm job tại Hỏi Dân IT
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="padding-top: 20px; text-align: left; font-size: 16px;">Cheers,</div>
                            <div style="text-align: left; font-size: 16px;">HaiLT.</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>